body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.svg-main-color svg {
    fill: rgb(63, 81, 181);
}

md-grid-list {
    margin: 8px;
}

.gray {
    background: #f5f5f5;
}

.green {
    background: #b9f6ca;
}

.yellow {
    background: #ffff8d;
}

.blue {
    background: #84ffff;
}

.purple {
    background: #b388ff;
}

.red {
    background: #ff8a80;
}

md-grid-tile {
    transition: all 400ms ease-out 50ms;
}