body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.complete {
    text-decoration: line-through;
    fill: #94d31b; 
}

.complete_task svg {
  fill: #009900;
}

md-input-container > md-select {
  flex: 1;
  order: 2;
  margin: 0;
}