<div>
  <div layout="row" layout-align="space-around">
    <md-input-container style="width:700px">
      <label>Item</label>
      <input ng-model="newItem.title">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addItem()" style="height:20px">Add</md-button>
  </div>
  <md-list ui-sortable="sortableOptions" ng-model="items">
    <md-list-item ng-repeat="item in items" ng-mouseenter="item.chosen=true" ng-mouseleave="item.chosen=false">
      <md-icon class="itemHandle" md-svg-src="img/vert.svg" class="s24" aria-label="Move"></md-icon>
      <p style="margin-right:24px" editable-text="item.title"></p>
      <md-checkbox ng-model="selected" class="md-secondary"></md-checkbox>
    </md-list-item>
  </md-list>
</div>