<md-content ng-init="init()" layout="column">
  <!-- Toolbar -->
  <div ng-hide="adding" class="lock-size" layout="row" style="padding:10px 0">
    <md-button aria-label="Add" ng-click="saveChecklist()" layout-align="start center" class="md-raised">
      <md-icon md-svg-src="img/ic_add_circle_black_24px.svg" aria-label="Save Checklist" class="svg-main-color"></md-icon>
      Save
    </md-button>
    <md-button aria-label="Delete" ng-click="deleteChecklist()" layout-align="end center" class="md-warn">
      <md-icon md-svg-src="img/ic_add_circle_black_24px.svg" aria-label="Delete Checklist" class="svg-main-color"></md-icon>
      Delete
    </md-button>
  </div>
  
  <!-- Editor -->
  <div layout="column">
    <!-- Checlist data -->
    <div layout="row" style="margin-top:20px">
      <md-input-container class="md-icon-float" style="width:90%">
        <label>Checklist title</label>
        <md-icon md-svg-src="img/ic_assignment_black_24px.svg" class="name"></md-icon>
        <input ng-model="checklist.title" type="text">
      </md-input-container>
    </div>
    <!-- Step list -->
    <md-list ui-sortable="sortableOptions" ng-model="newChecklist.steps">
      <md-list-item ng-repeat="step in newChecklist.steps">
        <md-icon class="itemHandle" md-svg-src="img/vert.svg" class="s24" aria-label="Move"></md-icon>
        <p style="margin-right:24px" editable-text="step.title"></p>
      </md-list-item>
    </md-list>
    <!-- New step editor -->
    <div layout="row">
      <md-input-container class="md-icon-float" style="width:90%">
        <label>Step title</label>
        <md-icon md-svg-src="img/ic_label_black_24px.svg" class="name"></md-icon>
        <input ng-model="newStep.title" type="text">
      </md-input-container>
      <md-button class="md-primary" ng-click="addStep()">Add step</md-button>
    </div>
    <md-button class="md-primary" ng-click="saveNewChecklist()">Create checklist</md-button>
  </div>
</md-content>