<md-content ng-init="init()" layout="col">
  <div layout="row" style="width:100%">
  <md-tabs md-dynamic-height md-border-bottom style="width:98%">
    <md-tab label="projects">
      <md-content class="md-padding" style="min-height:300px">
        <p>Projects</p>
      </md-content>
    </md-tab>
    <md-tab label="tasks">
      <md-content class="md-padding" style="min-height:300px">
        <p>Tasks</p>
      </md-content>
    </md-tab>
    <md-tab label="calendar">
      <md-content class="md-padding">
        <calendar-md flex layout layout-fill calendar-direction="direction" on-prev-month="prevMonth" on-next-month="nextMonth" on-day-click="dayClick" title-format="'MMMM y'" ng-model='selectedDate' week-starts-on="firstDayOfWeek" data-start-month="8" data-start-year="2014" day-format="dayFormat" day-label-format="'EEE'" day-label-tooltip-format="'EEEE'" day-tooltip-format="'fullDate'" day-content="setDayContent">
        </calendar-md>
      </md-content>
    </md-tab>
  </md-tabs>
  <div style="background-color:rgb(63,81,181);height:100%;width:2%;position:absolute" ng-click="toggleNav()"></div>
  </div>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" >
    <div ng-controller="NavCtrl">
      <md-toolbar class="md-theme-light" layout="row">
        <h1 class="md-toolbar-tools">Options</h1>
        <md-button ng-click="close()" class="md-no-ink">
          <md-icon md-svg-src="img/ic_close_white_24px.svg"></md-icon>
        </md-button>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        
      </md-content>
      </div>
    </md-sidenav>
  <!-- Project selector -->
  <!-- <md-input-container style="width:300px">
    <label>Select project</label>
    <md-select ng-model="project">
      <md-option ng-repeat="project in projects" ng-value="project.title">
        {{project.title}}
      </md-option>
    </md-select>
  </md-input-container> -->
  <!-- <div layout="row" style>
    <md-button aria-label="Projects" class="md-icon-button" style="width:100px;margin-top:10px" ng-href="#/projects">
      <md-icon md-svg-src="img/ic_assignment_black_24px.svg"></md-icon>
      Projects
    </md-button>
    <md-button aria-label="Projects" class="md-icon-button" style="width:100px;margin-top:10px" ng-href="#/projects">
      <md-icon md-svg-src="img/ic_assignment_ind_black_24px.svg"></md-icon>
      My Tasks
    </md-button>
    <md-button aria-label="Projects" class="md-icon-button" style="width:110px;margin-top:10px" ng-href="#/projects">
      <md-icon md-svg-src="img/ic_today_black_24px.svg"></md-icon>
      Calendar
    </md-button>
    <span flex></span> -->
  <!-- </div> -->
  <div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>
</md-content>