<md-card>
  <md-card-content>
    <h1 style="text-align:center">
      Task Management. Made Simple!
    </h1>
  </md-card-content>
  <div class="md-actions" layout="row"  style="margin-bottom:20px">
    <md-button ng-show="!currentUser" layout-align="center center" class="md-raised md-primary" ng-href="#/signup" style="display:block;width:200x;margin:auto">Sign up and get started</md-button>
    <md-button ng-show="currentUser"  layout-align="center center" class="md-raised md-primary" ng-href="#/dashboard" style="display:block;width:160px;margin:auto">View Dashboard</md-button>
  </div>
  <img ng-src="/img/home-office-336373_1280.jpg" class="md-card-image" alt="Washed Out">
</md-card>