<md-content layout-padding layout="column" layout-sm="column">
  <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
  <form name="profileForm" novalidate>
    <div layout="row">
      <md-input-container style="width:50%">
        <label>Email</label>
        <input ng-model="user.email" name="email" type="email" disabled>
      </md-input-container>
      <md-input-container style="width:50%">
        <label>Username</label>
        <input ng-model="user.username" name="username" disable>
      </md-input-container>
      <!-- TODO: Add backend and frontend support for updating username -->
      <!-- <md-button type="sublit" ng-disabled="profileForm.username.$dirty && profileForm.username.$invalid ||
  profileForm.email.$dirty && profileForm.email.$invalid" class="md-raised md-primary" style="width:100px;margin:auto" layout-align="center center" ng-click="updateProfile()">Update</md-button> -->
    </div>
  </form>
  <div layout="row" ng-hide="adding">
    <p class="md-no-sticky" style="padding-left:0">Teams:</p>
    <p flex></p>
    <md-button class="md-raised md-primary" ng-click="newTeam()" layout="end center">
      New team
    </md-button>
  </div>
  <md-list ng-cloak>
    <md-list-item ng-repeat="team in teams">
      <md-whiteframe class="md-whiteframe-z1" flex="100" style="padding:20px" layout="row" layout-align="start start">
        <p> {{ team.title }} </p>
        <p flex></p>
        <md-button class="md-no-ink md-primary" ng-href="#/team/{{team._id}}" layout="end center">
          View
        </md-button>
      </md-whiteframe>
    </md-list-item>
  </md-list>
  <div layout="row" layout-align="start center" ng-show="adding">
    <md-input-container style="width:50%">
      <label>Team name</label>
      <input ng-model="team.title" focus-on="adding">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addTeam()" layout="end end">
      Add
    </md-button>
  </div>
</md-content>