<md-content ng-init="init()" layout="column">
  <!-- Toolbar -->
  <div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-hide="adding || loading" class="lock-size" layout="row" layout-align="end center" style="padding:10px 0">
    <md-button aria-label="Add" ng-click="newProject()" class="md-no-ink">
      Add Project
    </md-button>
  </div>
  <!-- No projects card -->
  <md-card ng-show="!loading && !adding && (!projects || !projects.length)" style="margin-top:50px">
    <md-card-content layout="row">
      <p layout-align="center center" class="md-title" style="width:100%;text-align:center">No projects. Click 'Add' to create one</p>
    </md-card-content>
  </md-card>
  <!-- Editor -->
  <div ng-show="adding" layout="column">
    <div layout="row" style="margin-top:20px">
      <md-input-container class="md-icon-float" style="width:90%">
        <label>Project title</label>
        <md-icon md-svg-src="img/ic_assignment_black_24px.svg" class="name"></md-icon>
        <input ng-model="project.title" type="text" focus-on="adding">
      </md-input-container>
      <md-button class="md-primary" ng-click="cancelNewProject()" aria-label="Cancel">
        <md-icon md-svg-src="img/ic_close_black_24px.svg" class="name"></md-icon>
      </md-button>
    </div>
    <md-button class="md-primary" ng-click="addProject()">Create project</md-button>
  </div>
  <!-- Project   list -->
  <div ng-show="!loading && !adding && projects && projects.length">
    <div style="width:100%;border-bottom:1px solid #ccc"></div>
    <md-list ui-sortable="sortableOptions" ng-model="projects">
      <md-list-item ng-repeat="project in projects">
        <md-icon class="itemHandle" md-svg-src="img/vert.svg" class="s24" aria-label="Move"></md-icon>
        <p style="margin-right:24px" ng-bind="project.title"></p>
        <md-button class="md-primary" ng-click="edit(project)">
          <md-icon md-svg-src="img/ic_content_paste_black_24px.svg" aria-label="Edit project" class="md-secondary md-hue-3"></md-icon>
          <md-tooltip>View project</md-tooltip>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</md-content>