
  <md-content layout-padding class="autoScroll" style="margin-top:20px">
    <form class="form" name="form" ng-submit="register(form)" novalidate>
      <!-- Email field -->
      <div class="form-group" ng-class="{
                     'has-warning': form.email.$dirty,
                     'has-success': form.email.$valid && form.email.$dirty && !form.email.$error.mongoose,
                     'has-error': form.email.$invalid && form.email.$dirty || form.email.$error.mongoose
                     }">
        <md-input-container>
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-icon="img/ic_email_black_24px.svg" class="email"></md-icon>
          <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true" autofocus on-focus mongoose-error>
        </md-input-container>
        <p class="help-block" ng-show="form.email.$error.email && !form.email.$focused">
          Not a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>
      <!-- Username field -->
      <div class="form-group" ng-class="{
                     'has-warning': form.username.$dirty,
                     'has-success': form.username.$valid && form.username.$dirty && !form.username.$error.mongoose,
                     'has-error': form.username.$invalid && form.username.$dirty || form.username.$error.mongoose
                     }">
        <md-input-container>
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-icon="img/ic_account_box_black_24px.svg"></md-icon>
          <input ng-model="user.username" type="text" placeholder="Username (required)" ng-required="true" autofocus on-focus mongoose-error>
        </md-input-container>
        <p class="help-block" ng-show="form.username.$error.unique && form.username">
          That username is already taken.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.username }}
        </p>
      </div>
      <!-- Password field -->
      <div class="form-group" ng-class="{'has-warning': form.password.$dirty,
                                'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose,
                                'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose
                                }">
        <md-input-container md-no-float>
          <md-icon md-svg-icon="img/ic_lock_black_24px.svg" style="display:inline-block;"></md-icon>
          <input ng-model="user.password" type="password" placeholder="Password">
        </md-input-container>
        <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$invalid)
                                && form.password.$dirty
                                && !form.password.$error.required">
          Password must be at least 5 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>
      <md-button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid">Sign up</md-button>
    </form>
  </md-content>
