<!DOCTYPE html>
<html>

<head>
  <title></title>
  
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css?v=1.1.1">
  <link rel="stylesheet" href="/bower_components/angular-editable-text/dist/angular-editable-text.css?v=1.1.1">
  <link rel="stylesheet" href="/css/angular-material-calendar.css">
  <link rel="stylesheet" href="/css/style.css?v=1.1.1">

  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="/bower_components/angular-editable-text/dist/angular-editable-text.js"></script>
  <script src="/bower_components/material-calendar/dist/angular-material-calendar.js"></script>
  <script src="/bower_components/angular-contenteditable/angular-contenteditable.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.js"></script>
  
  <script src="/js/app.js"></script>
  <script src="/js/directives/directives.js"></script>
  <script src="/js/models/checklist_model.js"></script>
  <script src="/js/models/project_model.js"></script>
  <script src="/js/services/auth.js"></script>
  <script src="/js/services/session.js"></script>
  <script src="/js/services/user.js"></script>
  <script src="/js/controllers/toolbar_controller.js"></script>
  <script src="/js/controllers/home_controller.js"></script>
  <script src="/js/controllers/dashboard_controller.js"></script>
  <script src="/js/controllers/library_controller.js"></script>
  <script src="/js/controllers/checklist_controller.js"></script>
  <script src="/js/controllers/projects_controller.js"></script>
  <script src="/js/controllers/project_controller.js"></script>
  <script src="/js/controllers/checklist_editor_controller.js"></script>
  <script src="/js/controllers/signup_controller.js"></script>
  <script src="/js/controllers/login_controller.js"></script>
  <script src="/js/controllers/profile_controller.js"></script>
</head>

<body ng-app="pusherApp">
  <div style="width:100%;margin:auto" ng-controller="ToolbarCtrl as ctrl">
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
          <div layout-align="start center" layout="row">

            <h2><span style="font-weight:bold">ITEMIZER</span></h2>
          </div>
          <!-- <div flex></div> -->
          <div layout-align="center center" layout="row" style="width:100%">
          <md-button ng-show="currentUser" layout-align="center center" class="md-primary md-hue2" ng-href="#/dashboard" aria-label="Dashboard">
            <md-icon md-svg-src="img/ic_apps_white_24px.svg"></md-icon>
              Dashboard
          </md-button>
          </div>

          <md-button ng-show="!currentUser && !ctrl.inLogin()" class="md-icon-button" aria-label="Login" style="width:100px" ng-href="#/login">LOGIN</md-button>
          <md-menu ng-show="currentUser">
            <md-button aria-label="User profile" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)" style="width:200px">
              <md-icon md-menu-origin md-svg-src="img/ic_account_circle_white_24px.svg"></md-icon>
              {{currentUser.username}}
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-href="#/profile">
                  PROFILE
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.logout()">LOGOUT</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          
        </div>
      </md-toolbar>
      <div ng-view style="width:800px;margin:auto"></div>
    </md-content>
  </div>
</body>

</html>