<!DOCTYPE html>
<html>

<head>
  <title>Itemizer</title>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css?v=1.1.1">
  <link rel="stylesheet" href="/bower_components/angular-editable-text/dist/angular-editable-text.css?v=1.1.1">
  <link rel="stylesheet" href="/css/angular-material-calendar.css">
  <link rel="stylesheet" href="/css/style.css?v=1.1.1">
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.js"></script>
  <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="/bower_components/angular-editable-text/dist/angular-editable-text.js"></script>
  <script src="/bower_components/material-calendar/dist/angular-material-calendar.js"></script>
  <script src="/bower_components/angular-contenteditable/angular-contenteditable.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.js"></script>
  <script src="/js/controllers/landing_controller.js"></script>
  <style>
  ::-webkit-input-placeholder {
    color: red;
    font-size: 20px;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 20px;
    color: red;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
    font-size: 20px;
  }
  
  :-ms-input-placeholder {
    color: red;
    font-size: 20px;
  }
  </style>
</head>

<body ng-app="app">
  <div ng-controller="LandingCtrl" style="width:100%;min-width:800px;max-width:1920px;margin:auto">
    <md-content>
      
      <div style="width:100%;height:1024px;background-image:url(img/landing_l.jpg);background-repeat:no-repeat">
        <div style="padding:40px;color:white;width:800px;margin:auto">
          <div style="padding:40px;color:white;width:800px;margin:auto">
            <h1><span style="font-weight:bold">ITEMIZER</span></h1>
            <h1 style="text-align:left">Task Management. Made Simple!</h1>
          </div>
          <div ng-show="status" style="padding:40px;padding-top:0;color:white" layout="row">
            <h3>{{status}}</h3>
          </div>
          <div ng-hide="status" style="padding:40px;padding-top:0;color:rgb(63,81,181)" layout="row">
            <form name="registrationForm" style="width:350px">
              <md-input-container md-no-float style="width:350px;margin-top:10px">
                <input required autofocus style="color:rgb(63,81,181);font-size:20px;" type="email" name="registrationEmail" ng-model="registrationEmail" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="registrationForm.registrationEmail.$error" role="alert">
                  <div ng-message-exp="['required', 'pattern']" style="color:white;font-size:16px">
                    Please enter valid email to register for our beta
                  </div>
                </div>
              </md-input-container>
              
            </form>
            <md-button class="md-raised md-primary" style="height:30px;" ng-click="register()" aria-label="Register">Register</md-button>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</body>

</html>